{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<a href="#content" class="skip-menu">
  skip menu
</a>
<a href="#menu" class="menu-toggle" tabindex="-1">
  <span class="menu-toggle-text">
    open menu
  </span>
</a>
<ul class="menu" id="menu">
  {%- for path in page_paths -%}
  {%- assign my_page = site.pages | where: "path", path | first -%}
  {%- if my_page.title -%}
  <li class="menu-item">
    <a href="{{ my_page.url | relative_url }}" class="menu-link">
      {{ my_page.title | escape }}
    </a>
  </li>
  {%- endif -%}
  {%- endfor -%}
</ul>
