<a href="#content" class="skip-menu">
  skip menu
</a>
<a href="#menu" class="menu-toggle" tabindex="-1">
  <span class="menu-toggle-text">
    open menu
  </span>
</a>
<ul class="menu" id="menu">
  <li class="menu-item">
    <a href="#blog" class="menu-link">
      blog
    </a>
  </li class="menu-item">
  <li class="menu-item">
    <a href="#docs" class="menu-link">
      docs
    </a>
  </li class="menu-item">
  <li class="menu-item">
    <a href="#contributing" class="menu-link">
      contributing
    </a>
  </li>
</ul>
