.main-content {
  font-size: 1rem;
  padding: 0px 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text);
    font-weight: $font-weight-semi-bold;
  }
  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  h1 {
    background-color: var(--color-primary);
    color: var(--color-bg);
    display: inline-block;
    padding: 0 10px 0 10px;
    &::after {
      position:absolute;
      margin-left: -10px;
      display:block;
      width: 66%;
      content: ' ';
      border-bottom: 1px solid var(--color-primary);
    }
  }
  p {
    margin: 0 0 $spacing-paragraph;
  }
  @media (min-width: $bp-tablet) {
    padding: 0px 0;
  }
}

a {
  color: var(--color-primary);
  font-weight: $font-weight-semi-bold;
  padding:2px;
  &:hover {
    color: var(--color-bg);
    background-color: var(--color-primary);
    text-decoration: none;
  }
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}
