.main-content {
  font-size: 1rem;
  padding: 0px 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-primary);
    font-weight: $font-weight-semi-bold;
    font-family: ZillaSlab-Regular;
  }
  h2 {
    background-color: var(--color-primary);
    color: var(--color-bg);
    display: inline-block;
    font-size: 1.5em;
    padding: 0 10px 0 10px;
    &::after {
      content: ' ';
      border-bottom: 1px solid var(--color-primary);
      display: block;
      margin-left: -10px;
      margin-top: -1px;
      position:absolute;
      width: 66%;
    }
  }
  ul,
  p {
    margin: 0 0 $spacing-paragraph;
  }
  ul {
    list-style: circle;
  }
  @media (min-width: $bp-tablet) {
    padding: 0px 0;
  }

}

a {
  color: var(--color-primary);
  font-weight: $font-weight-semi-bold;
  padding:2px;
  &:hover {
    color: var(--color-bg);
    background-color: var(--color-primary);
    text-decoration: none;
  }
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}
