.main-content {
  font-size: 1rem;
  padding: 0px 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text);
    font-weight: $font-weight-semi-bold;
  }
  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .section-headline {
    font-size: 2rem;
    font-weight: $font-weight-semi-bold;
    margin-top: 0;
  }
  p {
    margin: 0 0 $spacing-paragraph;
  }
  @media (min-width: $bp-tablet) {
    padding: 0px 0;

    .section-headline {
      border-bottom: none;
    }

    .intro {
      text-align: center;
    }
  }
}

a {
  color: var(--color-link);
  font-weight: $font-weight-semi-bold;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}
