.logo-box {
  a {
    text-decoration: none;
    &:hover {
      background-color: var(--color-bg);
    }
  }
  line-height: 0px;
  flex-shrink: 0;
  z-index: 3;
  padding-top: 1.5em;
  text-decoration: none;
  .large {
    display: none;
  }
  .small {
    display: block;
    width: 100px;
  }
  @media (min-width: $bp-tablet) {
    padding-top: 4.85em;
    .large {
      display: block;
      width: 300px;
    }
    .small {
      display: none;
    }
  }
  @media (min-width: $bp-large-tablet) {
    padding-top: 4.2em;
    .large {
      width: 400px;
    }
  }
}
.spidermonkey-logo {
  fill: var(--color-primary);
  fill-opacity:1;
  stroke:none
}

.spidermonkey-text {
  font-size:17.6389px;
  font-family: ZillaSlab-regular;
  fill: var(--color-primary);
}

.spidermonkey-circle {
  fill: var(--color-primary);
}
.spidermonkey-small {
  fill: var(--color-bg);
}
