$svg-height: 24;

@mixin rotateSubmenuToggle() {
  transform: rotateX(180deg);
}

.skip-menu {
  opacity: 0;
  position: absolute;
  right: 84px;
  top: 10px;
  z-index: 10;
  &:focus {
    opacity: 1;
  }
}

.page-menu {
  font-size: 18px;
  a {
    font-family: ZillaSlab-regular, sans-serif;
  }
  text-align: end;
  width: 100%;
  &-link {
  }

  $mobile-mt: 15px;
  margin-top: $mobile-mt;
  @media (min-width: $bp-tablet) {
    $mt: 73.6px;
    margin-top: $mt;
  }

  .menu {
    background: var(--color-submenu-bg);
    list-style-type: none;
    margin: ($svg-height + $mobile-mt) 20px 10px 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    overflow: hidden;
    text-align: start;
    &.open {
      display: block;
      border: 1px solid var(--color-primary);
    }
    @media (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 1em 0;
      position: relative;
      overflow: visible;
      width: 100%;
    }
    &-toggle {
      position: relative;
      z-index: 10;
      display: inline-block;
      span {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
      }
      @media (min-width: $bp-tablet) {
        display: none;
      }
    }
    &-item {
      display: block;
      @media (min-width: $bp-tablet) {
        &.has-submenu {
          display: flex;
          flex-wrap: wrap;
        }
        &:hover .submenu {
          max-height: none;
          overflow: visible;
        }
        &:not(:last-child) {
          border-right: 1px solid var(--color-text);
        }
      }
    }
    &-link {
      color: var(--color-text);
      cursor: pointer;
      display: block;
      flex: none;
      min-width: 50px;
      padding: 10px 20px;
      text-decoration: none;
      &:focus {
        ~.submenu-toggle {
          @include rotateSubmenuToggle();
        }
        ~.submenu {
          max-height: none;
          overflow: visible;
        }
      }
      &:hover,
      &:focus,
      &.active {
        color: var(--color-bg);
        background-color: var(--color-primary);
        font-weight: $font-weight-semi-bold;
        text-decoration: none;
      }
      @media (min-width: $bp-tablet) {
        padding: 0px 10px;
      }
    }
  }
}
