.tree {
    width: 140%;
    text-align: center;
    font-size: 300%; /* This only applies to the placeholder text while render
                        happens */
}

.text {
    width: 60%;
    margin-left: 10%;
}

/* Diagram consumed CSS classes */
.clickable {
    font-style: italic;
    font-size: 98%; /* Adjust for larger space required by italics */
}

.done > * {
    fill: #ceebcf !important;
}

.GC > * {
    fill: #faf3c2 !important;
}

.JIT > * {
    fill: #ffca61 !important;
}

emph {
    font-style: italic;
}

#updated {
    margin-right: 10%;
    text-align: right;
}

/* Manually make edges dotted lines
 * This is a workaround for the Elk renderer not supporting dotted lines
 *
 * The produced CSS classes are easy enough: LS-<startNode>.LE-<endNode>
 */
.path.flowchart-link.LS-scheduling.LE-offThreadDelazification {
    stroke-dasharray: 4;
}
.path.flowchart-link.LS-smRelocations.LE-inBinaryCode {
    stroke-dasharray: 4;
}
.path.flowchart-link.LS-contextFreeParsing.LE-stencilNav {
    stroke-dasharray: 4;
}
.path.flowchart-link.LS-generatorBytecodeTransforms.LE-resumeInWarp {
    stroke-dasharray: 4;
}
.path.flowchart-link.LS-shareBaselineICs.LE-inBinaryStubs {
    stroke-dasharray: 4;
}